.gallery {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

input{
    border: none;
    width: 220px;
    height: 40px;
}

input:focus {
    outline: none;
  }

button{
    margin: 0;
}

p{
    padding: 0;
    margin: 0;
}

.photo-card{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.photo-card:hover{
    background-color: rgb(153, 50, 50);
    box-shadow: 5px 5px  5px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.info{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.info-item{
    font-weight: 700;

}

.search-form{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua;
}

.search-btn{
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.search-btn:hover{
    background-color: rgb(153, 50, 50);
}

b{
    font-weight: 500;
    display: block;
    text-align: center;
    margin-top: 5px;
}

.load-more{
    display: block;
    color: rgba(184, 219, 56, 0.845);
    background-color: rgb(24, 24, 99);
    width: 100px;
    height: 50px;    
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.load-more:not(:disabled):hover{
    background-color: #0056b3;
    transform: scale(1.05);
}

.load-more:disabled{
    background-color: #c1c1c1;
    cursor: not-allowed;
}

.hidden{
    display: none;
}

